@import "../../../themes.scss";

.spellsWrapper {
  position: relative;
}

.spellSmallCard {
  position: absolute;
  top: 2px;
  right: 2px;
  flex-direction: row;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  @include themify($themes) {
    background: themed("tertiaryLight");
  }
  grid-column-gap: .5rem;
  column-gap: .5rem;
  grid-row-gap: .5rem;
  row-gap: .5rem;
}

.spellSmallCard > * {
  @include themify($themes) {
    color: themed("textColor");
  }
}
