.wrapper {
  position: relative;
}

.smallCard {
  position: absolute;
  top: 4px;
  right: 4px;
  flex-direction: row;
  width: 100px;
  align-items: center;
  justify-content: center;
  background: orange;
  
  > * {
      color: black;
  }
}

.card {
  position: relative;
  width: max-content;
  padding-right: 3rem;
}

.link {
  position: absolute;
  bottom: 0;
  right: 0;
}