.masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}

.card {
  background-clip: padding-box;
}

.card > div {
  margin-bottom: 2rem;
  margin-right: 2rem;
  min-width: 250px;

  @media (max-width: 700px) {
    margin-right: auto;
  }
}
