@import "../../themes.scss";

.stickyNotesIcons {
  z-index: 999;
  position: fixed;
  top: 18px;
  right: 18px;
  width: max-content;

  @media (max-width: 500px) {
    display: none;
  }
}

.stickyNotesIcon {
  @include themify($themes) {
    color: themed("tertiaryMain");
  }
  cursor: pointer;
}

.stickyNotesIcon.saved {
  @include themify($themes) {
    color: themed("secondaryMain");
  }
}

.stickyNotesIcon.remove {
  @include themify($themes) {
    color: themed("primaryMain");
  }
}

.stickynote {
  @include themify($themes) {
    background: themed("tertiaryMain");
    border-color: themed("tertiaryMain");
  }
  border: 2px solid;
}

.stickyNotes {
  z-index: 999;
  position: fixed;
  top: 50px;
  right: 20px;
  width: 100%;
  transform: scale(0);
}

.stickyNotes.visible {
  transform: scale(1);
}

:global(.note) {
  @include themify($themes) {
    background-color: themed("tertiaryMain") !important;
  }
  > *,
  :global(.title),
  font {
    color: black !important;
  }

  :global(.note-body) {
    font-size: 14px !important;
  }
}
