@import "../../colors.scss";

.icons {
  z-index: 999;
  position: fixed;
  top: 12px;
  right: 12px;
  width: max-content;
}

.icon {
  color: $tertiary-main;
  cursor: pointer;

  &.saved {
    color: $secondary-main;
  }

  &.remove {
    color: $primary-main;
  }
}

.stickynote {
  background: $tertiary-main;
  border: 2px solid dark$tertiary-main;
}

.stickyNotes {
  z-index: 999;
  position: fixed;
  top: 50px;
  right: 20px;
  width: 100%;
  transform: scale(0);

  &.visible {
    transform: scale(1);
  }

  :global(.note) {
    background-color: $tertiary-main !important;
    
    > *, :global(.title), font {
      color: black !important;
    }

    :global(.note-body) {
      font-size: 14px !important;
    }
  }
}
