@import "../../themes.scss";

.theme {
  @include themify($themes) {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }
}

.main {
  max-width: 1280px;
  margin: auto;
}
