.charPortrait {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.charFlex {
  row-gap: 0;
}

.charCard {
  background-color: white !important;
}

.charSubheading {
  justify-content: space-between;
}