@import "../../colors.scss";

.wrapper {
  padding: 2rem;
  width: 80%;
  margin: auto;

  @media (max-width: 670px) {
    padding: 1rem;
    width: 90%;
  }

  .heading {
    align-items: center;

    .icon {
      margin-bottom: 0.5rem;
      cursor: pointer;

      @media (max-width: 800px) {
        margin: 0 .2rem .5rem  !important;
      }

      &.active {
        color: $secondary-main;
      }
    }
  }

  .deck {
    flex-direction: column;

    .title {
      flex-direction: column;
      column-gap: 0;
      row-gap: 0;

      .description {
        padding-top: 1rem;
      }
    }

    .deckCards {
      margin: auto;

      .card {
        width: 500px;

        @media (max-width: 670px) {
          width: 250px;
        }

        .content {
          flex-direction: row;
          justify-content: space-around;

          .image {
            box-shadow: 1px 1px 5px gray;
            width: 250px;
            height: 410px;
          }
        }
      }
    }
  }
}

.text {
  padding: 1rem 0;
  flex-direction: column;
  width: 200px;

  .tag {
    background: $secondary-light;
    border: 1px solid $secondary-main;
  }

  .misalignment {
    background: $tertiary-light;
    border: 1px solid $tertiary-main;
  }
}

.gridView {
  justify-content: center;
  padding: 2rem 0;
  .image {
    width: 250px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
    margin: 0.5rem;
  }
}

.drawerContent {
  padding: 2rem;
}

.input {
  height: 46px;
  margin-left: auto !important;
  margin-bottom: 0.5rem !important;
  min-width: 320px;

  @media (max-width: 765px) {
    margin: 0 0 4rem !important;
  }

  .inputContent {
    column-gap: 0;
    row-gap: 0;
    min-width: 320px;
  }

  .inputAdornment {
    color: $secondary-main !important;
  }
  
  .divider {
    margin: auto 0 !important;
    height: 30px;
  }
}