@import "../../colors.scss";

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 20;
    width: auto;
    border-bottom: 1px solid $tertiary-main;
}

.link {
    color: $primary-main;
    cursor: pointer;
    padding: 0 .5rem;
    text-decoration: none;

    &:hover {
        color: $secondary-main;
    }
}