@import "../../themes.scss";

.property {
  font-weight: bold;
  margin-bottom: .5rem;
  @include themify($themes) {
    color: themed("primaryMain");
  }
  text-transform: uppercase;
}

.property.noMargin {
  margin-bottom: 0;
}
