$primary-main: #8a2be2;
$primary-light: #b377eb;
$primary-dark: #601e9e;

$secondary-main: #32cd32;
$secondary-light: #7bdf7b;
$seconday-dark: #238f23;

$tertiary-main: #ffa500;
$tertiary-light: #ffb394;
$tertiary-dark: #d32f2f;

$background-color: #f7f7ff;
