$themes: (
  zotha: (
    primaryMain: #8a2be2,
    primaryLight: #b377eb,
    primaryDarkk: #601e9e,
    secondaryMain: #32cd32,
    secondaryLight: #7bdf7b,
    secondaryDark: #238f23,
    tertiaryMain: #ffa500,
    tertiaryLight: #ffb394,
    tertiaryDark: #d32f2f,
    backgroundColor: #f6f2f8,
    secondaryBgColor: #eee2f3,
    borderColor: #080800,
    textColor: #080800,
    disabled: #7c7c7c
  ),
  twinkle: (
    primaryMain: #e0526f,
    primaryLight: #f08080,
    primaryDarkk: #9c3c4f,
    secondaryMain: #fabb73,
    secondaryLight: #fcd8af,
    secondaryDark: #f5a03f,
    tertiaryMain: #dbdbdb,
    tertiaryLight: #ececec,
    tertiaryDark: #7c7c7c,
    backgroundColor: #181818,
    secondaryBgColor: #2b2b2b,
    borderColor: #9b9b9b,
    textColor: #dadada,
    disabled: #7c7c7c,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
